<ion-view view-title=" Weekend NEWS">
  <ion-content>
    
    <div class="card">	
		<div class="item item-text-wrap">
			<div class="text-center">
				<strong>Insider</strong>
			</div>
			<br>{{links[0]}}
		</div>
	</div>
	<div class="card">	
		<div class="item item-text-wrap">
			<div class="text-center">
				<strong>Politics</strong>
			</div>
			<br>{{links[1]}}
		</div>
	</div>
	<div class="card">	
		<div class="item item-text-wrap">
			<div class="text-center">
				<strong>Business</strong>
			</div>
			<br>{{links[2]}}
		</div>
	</div>
	<div class="card">	
		<div class="item item-text-wrap">
			<div class="text-center">
				<strong>Technology</strong>		
			</div>
			<br>{{links[3]}}
		</div>
	</div>
	<div class="card">	
		<div class="item item-text-wrap">
			<div class="text-center">
				<strong>Sports</strong>
			</div>	
			<br>{{links[4]}}
		</div>
	</div>

  </ion-content>
</ion-view>
