<ion-view view-title="Fests">
  <ion-content>
			
			<div class="card">
				<ion-slide-box>
	                <ion-slide ng-repeat="item1 in images1">
	                    <img ng-src="{{item1}}" style="width:100%;height:auto;margin:auto;display:block">
	                </ion-slide>
	            </ion-slide-box>

				<div class="item item-text-wrap">
					The Annual-Day celebrations of CBIT named as <strong>"SHRUTHI".</strong>	
				</div>
			</div>

			<br>


			<div class="card">

				<ion-slide-box>
	                <ion-slide ng-repeat="item2 in images2">
	                    <img ng-src="{{item2}}" style="width:100%;height:auto;margin:auto;display:block">
	                </ion-slide>
	            </ion-slide-box>

				<div class="item item-text-wrap">
					A National Level Technical Fest of CBIT named as <strong>"SUDHEE".</strong>
				</div>
			</div>

			<br>


			<div class="card">
				<ion-slide-box>
	                <ion-slide ng-repeat="item3 in images3">
	                    <img ng-src="{{item3}}" style="width:100%;height:auto;margin:auto;display:block">
	                </ion-slide>
	            </ion-slide-box>

				<div class="item item-text-wrap">
					Carpe Diem Stylised “Carpediem”, the biennial cultural fest of CBIT.	
				</div>
			</div>
	

    
  </ion-content>
</ion-view>
